.hd{
	display: flex;
	flex-direction: row;
	padding-left: 200px;
	color: white;
	background-color: black;
	justify-content: space-around;
	margin left: 0;
	margin-right: 0;
}
#sb{
	background-color: #daef68;
	color: #000;
	padding-top: 30px;
	padding-bottom: 30px;
	text-align: center;
	margin-right: 0;
	margin-left: 0;

}
#gc:hover{
	color: blu   e;

}
#SE{
	border: 1px solid white;
	padding-right: 10px;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}
	
#go{
	color: white;
	margin-top: 10px;
	
	width: 150px;
	height: 20px;
	border: 1px solid white;
	padding: 10px 30px;
	text-decoration: none;
}
#EG{
	color: white;
	font-size: 25px;
	text-decoration: none;
} 
#EG:hover {
	color: grey;
}
#go:hover {
	background-color: white;
	color: #000;
}
.photo{
	background: linear-gradient(45deg,
                    rgba(2, 2, 2, 0.75),
                    rgba(245, 255, 255, 0.75)),
                      url(Experiments_Hero.jpg);
	/*background: linear gradie*/
	background-size: cover;
	margin-left: auto;
	margin-right: auto;
	margin-top: 100px;
	width: 1300px;
	height: 600px;
}

.text{
	display: flex; 
	flex-direction: column;
	padding: 20% 0 0 50px;
	line-height: 0px;
	color: white;
}
.tf{
	font-size: 40px;
	font-weight: 100;
}
#vc{
	border: 1px solid white;
	padding: 15px 30px;
	width: 150px; 
	height: 30px;
	margin-bottom: 30px;
	text-align: center;
	font-size: 15px;
	text-decoration: none;
	color: white;

}

#vc:hover{
	background-color: blue;
}
.paragragh{
	display: flex;
	font-size: 15px;
	font-family: courier;
	margin: 0 auto;
	padding-left: 220px;
	padding-right: 250px;
	padding-top: 40px;
	font-size: 20px;
	line-height: -15px;
}
hr{
	margin-left: 220px;
	margin-right: 250px;
	margin-top: 0px;
}
.fca{
	display: flex;
	flex-direction: row;
	padding-left: 220px;
	padding-right: 250px;
	font-size: 20px;
	font-family: courier;
	justify-content: space-between;
	margin-top: -27px;
	font-size: 25px;
}
#vac{
	color: black;
}
#vac:hover{
	color: blue;

}
.xr{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	padding-left: 200px;
	padding-right: 200px;
	margin-right: auto;
	margin-left: auto;
	color: white;
	font-size: 30px;

}
.esc{

	display: flex;
	flex-direction: row;
	font-size: 40px;
	color: white;
	justify-content: space-around;
	padding-left: 200px;
	padding-right: 200px;
	margin-top: 20px;


	 
	

}
#web{

	background-image:
					linear-gradient(45deg,
                    rgba(-1, -1, -1, 0.75),
                    rgba(-1, -1, -1, 0.75)), 
					url(xr.jpg);
	background-size: contain;
	width: 400px;
	height:400px;
	justify-content: center;
	align-items: center;
	


}
#ai{
	background-image:
					linear-gradient(45deg,
                    rgba(-1, -1, -1, 0.75),
                    rgba(-1, -1, -1, 0.75)),  
					url(AI.jpg);
	background-size: contain;
	width: 400px;
	height: 400px; 
	

}
#ace{
	background-image:
					linear-gradient(45deg,
                    rgba(-1, -1, -1, 0.75),
                    rgba(-1, -1, -1, 0.75)), 
					url(arts&culture.jpg);
	background-size: contain;				
	width: 400px;
	height: 400px;
}
#efl{
	background-image:
					linear-gradient(45deg,
                    rgba(-1, -1, -1, 0.75),
                    rgba(-1, -1, -1, 0.75)), 
					url(EFL.jpg);
	background-size: contain;
	width: 400px;
	height: 400px;
}
#swo{
	background-image: 
					linear-gradient(45deg,
                    rgba(-1, -1, -1, 0.75),
                    rgba(-1, -1, -1, 0.75)), 
					url(sto.jpg);
	background-size: contain;
	width: 400px;
	height: 400px;
}
#ce{
	background-image:
					linear-gradient(45deg,
                    rgba(-1, -1, -1, 0.75),
                    rgba(-1, -1, -1, 0.75)),  
					url(chromeexperiment.jpg);
	background-size: contain;
	width: 400px;
	height: 400px;
}
.xrr{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding-top: 25%;
	padding-left: 50px;
	padding-right: 50px;
	text-align: center;
	margin-right: auto;
	margin-left: auto;
	text-shadow: 1px 1px #ffffff;
	font-family: papyrus;
	
}
#hr2{
	margin-top: 70px;
	width: 45%;
}
#vi{
	padding-right: 500px;
	color: black;
}
.pow{
	display: flex;
	flex-direction: column;
}
#passage,#instr,#ci,#say,#dt{
	display: flex;
	flex-direction: row;
	margin-top: 30px;
	padding-left: 200px;
	height: 200px;
}
#water,#play,#icons,#what,#touch{
	padding-left: 20px;
}


	
