.body{
	margin: 0 220px;
}
#hp{
	margin-right: 0px;
	margin-left: 0px;
	position: fixed;
	top: 0;
	width: 100%;
}
.hd{
	display: flex;
	flex-direction: row;
	padding-left: 200px;
	color: white;
	background-color: black;
	justify-content: space-around;
	margin left: 0;
	margin-right: 0;
}
#sb{
	background-color: #daef68;
	color: #000;
	padding-top: 20px;
	padding-bottom: 5px;
	text-align: center;
	margin-right: 0;
	margin-left: 0;
	/*font-size: 12px;*/
	height: 30px;
}
#kai{
	padding-bottom: 40px;
	margin-top: 0;
	font-weight: bold;
	font-size: 20px;
	padding-bottom: 20px;
	font-family: "Source Code", "monaco", "PT Mono", "courier", monospace;
	letter-spacing: 1px;
}
#gc{
	color: black;
}
#gc:hover{
	color: blue;

}
#SE{
	border: 1px solid white;
	padding-right: 10px;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}
	
#go{
	color: white;
	margin-top: 10px;
	
	width: 150px;
	height: 20px;
	border: 1px solid white;
	padding: 10px 30px;
	text-decoration: none;
}
#EG{
	color: white;
	font-size: 25px;
	text-decoration: none;
} 
#EG:hover {
	color: grey;
}
#go:hover {
	background-color: white;
	color: #000;
}
.photo{
	background: linear-gradient(25deg,
                    rgba(0, 0, 0, 0.8) 10%,
                    rgba(255, 255, 255, 0) 80% ),
                      url(Experiments_Hero.jpg);
	/*background: linear gradie*/
	background-size: 100% 100%;
	/*border: 1px solid grey;*/
	margin-left: auto;
	margin-right: auto;
	margin-top: 190px;
	width: 1300px;
	height: 700px;
	/*padding-top: 40px;*/
}
#cl{
	font-size: 20px;
	/*padding-bottom: -4px;*/
	margin-bottom: -27px;
}

.text{
	display: flex; 
	flex-direction: column;
	padding: 20% 0 0 50px;
	/*line-height: 0em;*/
	color: white;
	font-family: courier;
	width: 500px;

}
.tf{
	font-size: 40px;
	font-weight: 100;
	margin-bottom: -20px;
	/*padding-top: -15px;*/
	/*padding-top: -15px;*/
}
#acet{
	font-size: 15px;
	margin-bottom: 0px;
}
#vc{
	border: 1px solid white;
	padding: 15px 30px;
	width: 150px; 
	height: 30px;
	margin-bottom: 30px;
	text-align: center;
	font-size: 15px;
	text-decoration: none;
	color: white;

}

#vc:hover{
	background-color: blue;
}
.paragragh{
	display: flex;
	font-size: 15px;
	font-family: courier;
	margin: 0 auto;
	/*padding-left: 220px;*/
	/*padding-right: 250px;*/
	padding-top: 40px;
	font-size: 20px;
	line-height: -15px;
}
hr{
	/*margin-left: 220px;*/
	/*margin-right: 250px;*/
	margin-top: 0px;
}
.fca{
	display: flex;
	flex-direction: row;
	/*justify-content: space-between;*/
	/*padding-left: 220px;*/
	/*padding-right: 250px;*/
	font-size: 20px;
	font-family: courier;
	justify-content: space-between;

	margin-top: -27px;
	font-size: 25px;
}
#vac{
	color: black;
	/*padding-left: 920px;*/
}
#vac:hover{
	color: blue;

}
.xr{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	/*padding-left: 200px;
	/*padding-right: 200px;*/
	margin-right: auto;
	margin-left: auto;
	color: white;
	font-size: 30px;

}
.esc{

	display: flex;
	flex-direction: row;
	font-size: 40px;
	color: white;
	justify-content: space-between;
	/*padding-left: 200px;*/
	/*padding-right: 200px;*/
	margin-top: 35px;
 }
#web{
	display: flex;
	flex-direction: row;

	background-image:
					linear-gradient(45deg,
                    rgba(-1, -1, -1, 0.75),
                    rgba(-1, -1, -1, 0.75)), 
					url(xr.jpg);
	background-size: 100% 100%;
	width: 420px;
	height:420px;
	justify-content: center;
	align-items: center;
	


}
#ai{
	display: flex;
	flex-direction: row;
	background-image:
					linear-gradient(45deg,
                    rgba(-1, -1, -1, 0.75),
                    rgba(-1, -1, -1, 0.75)),  
					url(AI.jpg);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	width: 420px;
	height: 420px; 
	justify-content: center;
	align-items: center;

}
#ace{
	display: flex;
	flex-direction: row;
	background-image:
					linear-gradient(45deg,
                    rgba(-1, -1, -1, 0.75),
                    rgba(-1, -1, -1, 0.75)), 
					url(arts&culture.jpg);
	background-size: 100% 100%;				
	width: 420px;
	height: 420px;
	justify-content: center;
	align-items: center;
}
#efl{
	display: flex;
	flex-direction: row;
	background-image:
					linear-gradient(45deg,
                    rgba(-1, -1, -1, 0.75),
                    rgba(-1, -1, -1, 0.75)), 
					url(EFL.jpg);
	background-size:100% 100%;
	width: 420px;
	height: 420px;
	justify-content: center;
	align-items: center;
}
#swo{
	display: flex;
	flex-direction: row;
	background-image: 
					linear-gradient(45deg,
                    rgba(-1, -1, -1, 0.75),
                    rgba(-1, -1, -1, 0.75)), 
					url(sto.jpg);
	background-size: 100% 100%;
	width: 420px;
	height: 420px;
	justify-content: center;
	align-items: center;
}
#ce{
	display: flex;
	flex-direction: row;
	background-image:
					linear-gradient(45deg,
                    rgba(-1, -1, -1, 0.75),
                    rgba(-1, -1, -1, 0.75)),  
					url(chromeexperiment.jpg);
	background-size: 100% 100%;
	width: 420px;
	height: 420px;
	justify-content: center;
	align-items: center;
}
#webexper,#aiexper,#learning,#withone,#experiments,#arts{
	display: flex;
	flex-direction: row;
	/*justify-content: center;*/
	align-self: center;
	align-items: center;
	/*padding-top: 35%;*/
	font-size: 34px;
	/*padding-left: 50px;
	/*padding-right: 50px;*/
	/*text-align: center;*/
	/*margin-right: auto;
	margin-left: auto;*/
	text-shadow: 1px 1px #ffffff;
	font-family: courier;
	width: 300px;
}

#webexper:hover span {
	display: none;
}
#webexper:hover:before{
	content: "VR and AR made for the web"


}
#aiexper:hover span {
	display: none;
}
#aiexper:hover:before{
	content: "Celebrating creativity and AI"
}
#arts:hover span {
	display: none;
}
#arts:hover:before{
	content: "See what happens at the crossroads of arts and technology"
	/*width: 100%;*/
}
#learning:hover span {
	display: none;
}
#learning:hover:before{
	content: "A collection of experiments that teachers,students, and families are using to learn from home."
}
#withone:hover span {
	display: none;
}
#withone:hover:before{
	content: "A collection of experiments that started by working with one person to make something impactful for them and their community"
}
#ce:hover span {
	display: none;
}
#ce:hover:before{
	content: "Creative code for the web"
}


#hr2{
	margin-top: 70px;
	width: 50%;
	margin-left: 0px;

}
#vi{
	padding-right: 660px;
	color: black;
	/*padding-left: 300px;*/
}
#vi:hover {
	color: blue
}
.pow{
	display: flex;
	flex-direction: column;
	font-family: courier;




}
#passage,#instr,#ci,#say,#dt,.tarot{
	display: flex;
	flex-direction: row;
	margin-top: 30px;
	/*padding-left: 200px;*/
	/*height: 200px;*/
	justify-content: space-between;
}
#water,#play,#icons,#what,#touch,.mtchw{
	/*padding-left: 20px;*/
	width: 350px;
	padding-left: 20px;
	font-size: 20px;
	padding-bottom: 20px;
	/*padding-top: -20px;*/
	/*height: 200px;*/
}
.mtchw{
	width: 200px;

}
.pics{
	border: 1px solid grey;
	width: 350px;
	height: 200px;
}
.picz{
	border: 1px solid #ffffff;
	width: 200px;
	height: 200px;
	background-size: 200px;
}
.col2{
	display: flex;
	flex-direction: column;
	align-items: start;
	/*float: right;*/
	border: 2px solid white;
	background-color: rgb(235, 235, 235);
	/*align-items:  start;*/
	width: 400px;
	padding: 30px;
	margin-top: -100px;
	margin-right: 100px;
	font-family: courier;

	/*width: 500px;*/
	/*margin0-right: 250px;*/
	/*margin-left: 30px;*/
	/*padding-right: 90px;*/
	/*padding-left: -300px;*/
	/*padding-left: -40px;*/
	/*padding-left: 20px;*/
}
#WH{
	font-size: 15px;

}
#smtn{
	display: flex;
	flex-direction: row;
	/*padding: 20px;*/
	justify-content: space-between;
}
#hmm{
	/*margin-left: -160px;*/
	/*padding-right: 200px;*/
}
#fb{
	width: 40px;
	height: 40px;
	background-color: white;
	border-radius: 50%;
	margin-top: 15px;
	margin-left: 19px;
}
#fb:hover{
	background-color: grey;
}
.nawa{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	background-color: rgb(0, 0, 0 );
	/*padding-top: 40px;*/
	padding: 20px 260px;
	margin-top: 100px;
	color: rgb( 215 215 215);
	padding-right: 150px;
}
#ptp{
	display: flex;
	flex-direction: row;
	/*justify-content: space-between;*/
	padding-right: 100px;
	font-size: 20px;
}
#pri{
	color: rgb( 215 215 215);
	text-decoration: none;

}
#pri:hover{
	color: blue;
}