.header{
	display: flex;
	flex-direction: row;
	/*margin-left: 100px;*/
	/*margin-right: 100px;*/
	position: fixed;
	top: 0;
	width: 100%;
	background-color: white;
	height: 30px;
	border-bottom: red;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 100px;
}

#khrons, #about, #reg, #depo, #log{
	color: #312440;
	text-decoration: none;
}
#khrons{
	font-size: 20px;
	padding-left: 
}
#khrons:hover{
	color: #7befb2;
}
#dot{
	color: #7befb2;
}
.nav_bar{
	display: flex;
	flex-direction: row;
	font-size: 15px;
	margin-top: 5px;
	/*margin-left: 10px;*/
	padding-left: 750px;
}
#about, #reg, #depo, #log{
	padding-left: 40px;
}
#about:hover{
	color: #7befb2;
}
#reg:hover{
	color: #7befb2;
}
#depo:hover{
	color: #7befb2;
}
#log:hover{
	color: #7befb2;
}
.joint{
	display: flex;
	flex-direction: column;
}
.build{
	display: flex;
	height: 730px;
	align-items: center;
	/*justify-content: center;*/
	background-color: #312440;
	padding-left: 130px;
	/*padding-top: 30px;*/
	/*margin-bottom: 0px;*/
}
.let{
	color: white;
}
#tog{
	font-size: 20px;
}
.btn{
	display: flex;
	flex-direction: row;
	padding-top: 30px;

}
#btn_1{
	text-decoration: none;
	color: white;
	border: 2px solid #7befb2;
	padding: 15px 20px;
	/*margin-top: 20px;*/
}
#btn_2{
	text-decoration: none;
	color:  #312440;
	border: 2px solid #7befb2;
	background-color:  #7befb2;
	margin: 20px;
	padding: 15px 20px;
	/*margin-top: 20px;*/
}
.min{
	background-color: #7befb2;
	/*margin-top: 0;*/
	/*padding-top: -10px;*/
	padding: 5vh;
	height: 50%;
	margin-bottom: 0;
}
.img{
	display: flex;
	flex-direction: row;
	/*justify-content: space-around;*/
}
.images{
	display: flex;
	flex-direction: column;
	border: 3px solid #312440;
	


}
#mission{
	text-align: center;
	margin: 0 auto;
}
#dan{
	display: flex;
	flex-direction: column;
	width: 50px;
	height: 50px;
}
.col{
	display: flex;
	flex-direction: row;
}
#col-1{
	background-color: #312440;
	color: white;
}
#trans{
	color: #7befb2;
}
#col-2{
	background-color: #7befb2;
}
#get{
	text-decoration: none;
	color: white;
	background-color: #312440;
}
.mile{
	display: flex;
	flex-direction: row; 
}
.two{
	display: flex;
	flex-direction: row;
}