#kemi {
	display: flex;
	flex-direction: row;
	background-color:#2F343F
	
}
.input-div {
	width: 400px;
	display:flex;
	flex-direction: row;
	justify-content: space-between;
}

.input-div label {
	display: block;
}

.input-div input {
	padding: 5px 10px;
	margin: 10px 0 5px;
	border: 2px bold black;
	border-radius: 6px
}

/*.input-div2 {
	width: 400px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.input-div2 input {
	padding: 5px 10px;
	margin: 10px 0 5px;
}
.input-div3 {
	width: 400px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.input-div3 input {
	padding: 5px 10px;
	margin: 10px 0 5px;
}
*/
/*.button {
	border: 2px solid black;
	border-radius: 30px;
}*/

.image{
	width: 250px;
	height: 200px
}
.card{
	border: 2px solid blue;
	padding: 20px;
	display: flex;
	justify-content: center;
	width: 400px;
	border-bottom: 2px solid blue;
	font-family: verdana, geneva,tahoma, sans-serif;
	margin: 0 auto;

	
		

}
.border{
	width: 400px
	margin:200px;
	text-align: center;
	padding-left: 30px
	width: fit-content;


	
}