body{

	font-family: malegroth.zip;
	margin: 0px;

}

	 
}
.main-body{ 
	text-align: center;
	color: #FFA07A;

}
	
#name{
	text-align: center;
	color: #FFA07A;
	margin-top: 100px;
	font-weight: bold;
	font-size: 70px



}

#about{
	margin-left: 250px;
	padding-bottom: 90px;
	color: #FFA07A;
	padding-left: 550px;

}
#eats{
	border-bottom: 5px solid #FFA07A;

}
#main-body{
	background-image: url(IMG2.jpg
); 
	background-size: cover;
	padding: 40px 0px 20px 0px;
	}

.content{
	text-align: start;
	color: black;
}
#cw{
	width: 300px;
	height: 400px;
	border: 2px solid black;
	border-radius: 10px;
	background-image: url(CW.jpg);
	background-size: cover;
}

#cw:hover {
	background-image: url(cw2.jpg);
	
}
#owanbe{
	width: 300px;
	height: 400px;
	border: 2px solid black;
	border-radius: 10px;
	background-image: url(FASH2.jpg);
	background-size: cover;
}
#owanbe:hover{
	background-image: url(FASH3.jpg);
	
}
#gl{
	width: 300px;
	height: 400px;
	border: 2px solid black;
	border-radius: 10px;
	background-image: url(MW.jpg);
	background-size: cover;
}
#gl:hover{
	background-image: url(FASH6.jpg);
}
.content{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding-top: 40px;

.p{
	display: flex;
	font-size: 30px;
	font-weight: bold;
	justify-content: center;
 }
 